.title
{
	background-color:#ffffff;
	color:#000000;
	font-size:30px;
	font-family:Arial;
}

.parent
{
	display:flex;
}

.nav
{
	font-family:Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	background-color:#00cccc;
	color:#ff0000;
	white-space:pre;
	display:block;
	overflow:auto;
	max-height:400px;
	width:400px;
}

.nav2
{
	font-family:Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	background-color:#00ddee;
	color:#005500;
	display:block;
	flex:1;
	white-space:-moz-pre-wrap;
	word-wrap:break-word;
	overflow:auto;
	width:700px;
	max-height:400px;
}
